<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PoE_Helper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="PoE_Helper.Properties.Internal" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="PoE_Helper.Properties.internal" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="PoE_Helper.Internals" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PoE_Helper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PoE_Helper.Properties.Internal" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <PoE_Helper.Properties.Settings>
            <setting name="ColorSelected" serializeAs="String">
                <value>LightGreen</value>
            </setting>
            <setting name="ColorUnselected" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="TagInput" serializeAs="String">
                <value>input</value>
            </setting>
            <setting name="TagOutput" serializeAs="String">
                <value>output</value>
            </setting>
            <setting name="TagElementGroup" serializeAs="String">
                <value>group</value>
            </setting>
            <setting name="TagElementCurrency" serializeAs="String">
                <value>currency</value>
            </setting>
        </PoE_Helper.Properties.Settings>
        <PoE_Helper.Properties.Internal>
            <setting name="ColorSelected" serializeAs="String">
                <value>LightGreen</value>
            </setting>
            <setting name="ColorUnselected" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="TagInput1" serializeAs="String">
                <value>input</value>
            </setting>
            <setting name="TagOutput1" serializeAs="String">
                <value>output</value>
            </setting>
            <setting name="TagInput" serializeAs="String">
                <value>input</value>
            </setting>
        </PoE_Helper.Properties.Internal>
        <PoE_Helper.Properties.internal>
            <setting name="ColorSelected" serializeAs="String">
                <value>LightGreen</value>
            </setting>
            <setting name="ColorUnselected" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="TagInput" serializeAs="String">
                <value>input</value>
            </setting>
            <setting name="TagOutput" serializeAs="String">
                <value>output</value>
            </setting>
        </PoE_Helper.Properties.internal>
        <PoE_Helper.Internals>
            <setting name="COLOR_SELECTED" serializeAs="String">
                <value>LightGreen</value>
            </setting>
            <setting name="COLOR_UNSELECTED" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="TAG_INPUT" serializeAs="String">
                <value>input</value>
            </setting>
            <setting name="TAG_OUTPUT" serializeAs="String">
                <value>output</value>
            </setting>
        </PoE_Helper.Internals>
    </applicationSettings>
    <userSettings>
        <PoE_Helper.Properties.Settings>
            <setting name="lastModified" serializeAs="String">
                <value>02/08/2016 14:16:00</value>
            </setting>
            <setting name="requestOnline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lowerBound" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="upperBound" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="talis1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="talis2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="talis3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="talis4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="talis5" serializeAs="String">
                <value>0</value>
            </setting>
        </PoE_Helper.Properties.Settings>
        <PoE_Helper.Properties.Internal>
            <setting name="TagElementGroup1" serializeAs="String">
                <value>group</value>
            </setting>
            <setting name="TagElementCurrency1" serializeAs="String">
                <value>currency</value>
            </setting>
        </PoE_Helper.Properties.Internal>
    </userSettings>
</configuration>